.user-table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

.user-table__head {
  
}

.user-table__body {}

.user-table__heading,
.user-table__cell {
  padding: 10px 20px;
}

.user-table__heading {}

.user-table__row {
  background-color: #fff;
  border-bottom: 1px solid #555; 
}

.user-table__cell {}

.user-table__label {
  background-color: #eee;
  color: dimgray;
  display: none;
  font-size: 10px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  left: 0;
}

.user-table__value {}

@media (max-width: 718px) {
  .user-table__head {
    left: -9999px;
    position: absolute;
    visibility: hidden;
  }

  .user-table__row {
    border-bottom: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  .user-table__cell {
    border: 1px solid #555;
    margin: 0 -1px -1px 0;
    padding-top: 35px;
    position: relative;
    width: 50%;
  }

  .user-table__label {
    display: block;
  }
}

@media (max-width: 458px) {
  .user-table__cell { 
    width: 100%;
  }
}